<!DOCTYPE html>


<html>
  <head>
    <title>Sign Up</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>
  </head>
  <body>
    <h2>Sign up</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{name}}">
          </td>
          <td class="error">
            {{nameInvalid}}
          </td>
        </tr>

        <tr>
          <td class="label">Password</td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
            {{pwdInvalid}}
          </td>
        </tr>

        <tr>
          <td class="label">Verify Password</td>
          <td>
            <input type="password" name="verify" value="">
          </td>
          <td class="error">
            {{pwdNotMatch}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Email (optional)
          </td>
          <td>
            <input type="text" name="email" value="{{email}}">
          </td>
          <td class="error">
            {{emailInvalid}}
          </td>
        </tr>
      </table>

      <input type="submit">
      <tr>
        <td class="error">{{duplicate}}
    </td></tr>
        </form>

  </body>
</html>